/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root{
  --bg-page-image-light: url(/images/cover-image-light.png);
  --bg-page-color-light: #FFD1DC;
  --accent-color: #FF8DCB;
  --pink-bg-content: #FF8DCB;
  --text-color: #353430;
  --bold-text-weight: 700;
  --def-font-size: 18px;
}

.page {
  background-image: var(--bg-page-image-light);
  background-color: var(--bg-page-color-light);
  color: var(--text-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
  font-size: var(--def-font-size);
  line-height: 23.4px;
}

h2, h3{
  font-size: var(--def-font-size);
  font-weight: var(--bold-text-weight);
}

/*HEADER*/
/*HEADER*/
/*HEADER*/

.header{
  height: 100vh;
  min-height: 668px;
  width: 100%;
  display: grid;
  grid-template-rows: 3 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

.header__main-text{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--bold-text-weight);
  color: #FFC2E6;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
  justify-self: start;
  text-transform: lowercase;
  line-height: 83%;
}

.header__title{
  align-self: center;
  justify-self: center;
  font-weight: var(--bold-text-weight);
  background-color: var(--pink-bg-content);
  font-size: 18px;
}

/*MAIN*/
/*MAIN*/
/*MAIN*/

.first__section{
  display: grid;
  gap: 20px;
}

.section__text-container{
  display: grid;
  gap: 20px;
}

.section__text-content{
  display: grid;
  gap: 10px;
}

.section__name{
  line-height: 23.4px;
}

.section__text-content-name{
  font-weight: var(--bold-text-weight);
  background-color: var(--pink-bg-content);
}